:root{
  --border-color: #eeeeee;
  --bg-color: #fff;
  --message-own-bg-color: #eceff1;
  --message-users-bg-color: #42b0f8;
  --message-own-color: #1a1a1a;
  --message-users-color: #fff;
}

.app {
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
}

body {
  background-image: url(https://cdn.pling.com/img/b/7/0/1/85b4a2e6bdd6a36ae072365280b1e0e82b66.jpg);
}